.page {
    display: flex;
}

.Home {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 80%;

}

.image {
    height: 500px;
    width: 300px;
    object-fit: contain;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content h1 {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
}

.content p {
    width: 80%;
    margin: 0;
    font-size: 0.7rem;
}

/* 
.page .btn-link {
    background: white;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    color: #1a1a1a;
    border: solid 1px #afafaf;
} */