header {
    margin: 10px;
    display: flex;
}

header .logo a {
    display: flex;
    padding: 10px 10px 7px 20px;
    text-decoration: none;
}

header ul {

    margin: 0;
    padding: 3px 10px 0 0;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    flex: 1;
    text-align: right;
}

header li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 10px;

}

header li img {
    object-fit: contain;
}



header li a {
    display: inline-block;
    padding: 20px 10px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

header li a:hover {
    text-decoration: none;

    color: #008cdc;
}