.logo {
    width: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.logo .icon {
    background-color: #253e81;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}


.logo img {
    object-fit: contain;

}