/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(90deg, #abd2fd 0%, #ffffff 100%);
    font-family: 'Inter', sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    width: 80vw;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: #d6d6d660 10px 48px 100px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    margin: 0 0 5px 0;
}

section {
    padding: 20px;
}


a,
a:visited {
    color: var(--qwik-dark-blue);
}

a:hover {
    text-decoration: none;
}

table.commands {
    margin: 0 0 30px 0;
}

.commands td {
    padding: 5px;
}

.commands td:first-child {
    white-space: nowrap;
    padding-right: 20px;
}